* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #005a8d;
    color: #fff;
    padding: 1rem 0;
}

.container {
    padding: 0 15px;
}
#contact {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ffd700;
}

h2 {
    font-size:xx-large;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
