* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f3f3;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    background-color: #004a74;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ffd700;
}

main {
    padding: 2rem 0;
}
h1 {
    color: #005a8d;
    margin-bottom: 1rem;
}
h2 {
    color: #005a8d;
    margin-bottom: 1rem;
}
.content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-box {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

footer {
    background-color: #004771;
    color: #fff;
    text-align: center;
    padding: 1rem 0; 
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin-bottom: 10px;
    }
}